Admin
	
		* {
			margin: 0;
			padding: 0;
		}
	
		body {
			font: 100 15px/ "Helvetica Neue", helvetica, arial, sans-serif;
			background: #333;
			margin: 25px;
		}
	
		article {
			width: 600px;
			margin: 0 auto;
			background: #000;
			color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 15px 2px #666;
		}
	
		section {
			clear: left;
		}
	
		h1 {
			font-size: 45px;
			font-weight: 100;
			letter-spacing: 5px;
			text-align: center;
		}

		h2 {
			font-size: 25px;
			font-weight: 50;
			letter-spacing: 5px;
			text-align: center;
		}
		}
	